<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- http://jquery.com/ -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>

        <!-- http://getbootstrap.com/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- App's own CSS -->
        <link href="/static/styles.css" rel="stylesheet"/>

        <!-- app's own JavaScript -->
        <script src="/static/scripts.js"></script>
    </head>
    <body>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              <header>
                {% for category, message in messages %}
                  <div class="alert {{ category }} border text-center" role="alert">
                      {{ get_flashed_messages() | join(" ") }}
                  </div>
                {% endfor %}
              </header>
          {% endif %}
        {% endwith %}


        {% block body %}
        {% endblock %}
    </body>
</html>